html {
  min-width: 353px;
}
body {
  margin: 0;
  background-color: gray;
  font-weight: lighter;
  font-family: 'Open Sans'
}
#fixed-bar {
  position: fixed;
  width: 100%;
  background-image: url(images/background-texture.png);
  background-position: center;
  z-index: 3;
  height: 3.5em;
  text-align: center;
}
#minibar {
  visibility: hidden;
  position: absolute;
}
#lead-container {
  z-index: 1;
  display: inline-block;
  padding: 0;
  width: 100%;
  height: 10em;
  background-image: url(images/background-texture.png);
  background-position: center;
}
#index-header {
  color: white;
  font-variant: small-caps;
  font-style: italic;
  font-size: 1em;
  font-family: 'Open Sans';
  text-shadow: .2em .2em 1em black, .2em .2em 1em gray;
  margin: 4em auto 0 auto;
}
#pagetitle {
  font-variant: small-caps;
  font-weight: lighter;
  font-family: 'Cabin';
  text-shadow: 2px 2px 2px black;
  font-size: 3em;
  color: white;
  margin: 0 auto 0 auto;
  text-align: center;
}
#index-tagline {
  color: red;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Palatino';
  text-align: right;
  margin: 0;
  padding-right: .2em;
}
.topmenu li {
  display: inline-block;
  padding: .2em 3em .2em 3em;
  border: .01em solid rgba(40, 100, 100, 0.7);
  border-radius: .5em;
  background-image: linear-gradient(to bottom, rgba(60, 100, 100, 1.0), rgba(180, 255, 255, 0.3));
  margin-bottom: 0;
}
.topmenu li:hover {
  background-image: linear-gradient(to bottom, rgba(60, 100, 100, 1.0), rgba(130, 255, 255, 0.6));
  box-shadow: .2em .2em 1em rgba(0, 50, 50, 0.7);
  color: rgba(255, 255, 255, 1.0);
  text-shadow: .1em .1em 1em black;
}
.toplink:visited {
  color: rgba(20, 30, 30, 0.1);
}
.topmenu ul {
  padding-left: 0;
  list-style-type: none;
  width: auto;
  margin: .75em 0;
}
.lead-image-container {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  display: table;
  padding-top: .75em;
}
.lead-image {
  display: table-cell;
  width: 100%;
  border: .1em dotted #2F4F4F;
  border-radius: .5em
}
.photo-caption {
  display: table-caption;
  caption-side: bottom;
  font-family: 'Open Sans';
  font-style: italic;
  font-size: .9rem;
  width: 80%;
  margin: .25em auto;
  text-align: justify;
  padding: .5em 10%;
  background-color: rgba(60, 100, 100, .5);
  box-shadow: .25em .25em 2em black;
  border-radius: .5em;
  color: rgba(200, 200, 200, 1.0);
}

.photo-caption p {
  padding: 0 1em 0 1em;
}
.text {
  position: relative;
  margin: .75em auto;
  width: 85%;
  text-align: justify;
  /*border: 1px solid black;*/
}
#index-text p:first-of-type {
  /*padding-top: 1em;*/
  margin-top: 1.5em;
  border-top: .1em;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(20, 100, 100, 0.5), rgba(255, 255, 255, 1.0));
  border-image-slice: 1 0 0 0;
}
#index-text p:last-of-type {
  margin-bottom: 2em;
  border-bottom: .1em;
  border-style: solid;
  border-image: linear-gradient(to left, rgba(20, 100, 100, 0.5), rgba(255, 255, 255, 1.0));
  border-image-slice: 0 0 1 0;
}
.bannertop {
  background: transparent;
  background-image: url(images/background-texture.png);
  font-variant: small-caps;
  font-weight: lighter;
  font-family: 'Cabin';
  text-shadow: 2px 2px 2px black;
  font-size: 2.5em;
  color: white;
  margin: auto;
  padding: 1em;
  z-index: 2;
  position: relative;
}
.sectionhead {
  border-top: .1em;
  border-style: solid;
  border-image: linear-gradient(to right, rgba(20, 100, 100, 0.5), rgba(255, 255, 255, 1.0));
  border-image-slice: 1 0 0 0;
  font-family: 'Cabin';
  font-weight: bold;
  font-size: 2em;
  margin: 1.5em 3em .5em 3em;
}
.pinch {
  padding: 0 2em;
}
.crewquote {
  font-size: 1.25em;
  display: inline-block;
  margin: 1em;
  color: white;
  width: 80%;
}
footer {
  margin-bottom: 1em;
}
.game_screens {
  width: 80%;
  margin: 0 auto;
}
.game_screens img {
  width: 100%;
}

@media screen and (max-width: 410px) {
  #fixed-bar, #topmenu, #toplinks {
    display: none;
  }
  #minibar {
    position: fixed;
    visibility: visible;
    background-image: url(images/background-texture.png);
    width: 100%;
    text-align: center;
  }
  #minibar li {
    list-style-type: none;
    display: inline-block;
    padding: .5em .5em;
    border: .01em solid rgba(40, 100, 100, 0.7);
    border-radius: .5em;
    background-image: linear-gradient(to bottom, rgba(60, 100, 100, 1.0), rgba(180, 255, 255, 0.3));
  }
  #minibar ul {
    padding-left: 0;
    margin: .5em;
  }
}