body {
  margin: 0;
  background-color: gray;
}
#top-bg {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 5em;
  margin-bottom: 0;
  top: 3em;
  background-image: url(images/background-texture.png);
}
#fixed-bar {
  position: fixed;
  display: inline;
  width: 100%;
  background-image: url(images/background-texture.png);
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  z-index: 3
}
#lead-container {
  z-index: 1;
  position: relative;
  background: transparent;
  text-align: left;
  display: inline-block;
  padding: 0;
  width: 100%;
  margin-bottom: 0;
}
#index-lead {
  color: white;
  font-variant: small-caps;
  font-size: 1em;
  font-family: 'Cabin';
  text-shadow: 3px 3px 2px black, 3px 3px 4px gray;
  width: content;
  position: absolute;
  top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
#crewtitle {
  font-variant: small-caps;
  font-family: 'Cabin';
  text-shadow: 2px 2px 2px black;
  font-size: 3em;
  color: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 7.5em;
  margin-top: 4rem;
  margin-bottom: 0;
  z-index: 1;
}
#index-tagline {
  position: absolute;
  width: content;
  color: red;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Georgia';
  margin: 0;
  width: auto;
  z-index: 0;
  right: 0;
  top: 6.9rem;
}
.topmenu li {
  display: inline-block;
  padding-right: 3em;
  padding-left: 3em;
  border: 1px solid;
}
.topmenu {
  margin: 1em;
  text-align: center;
}
#lead-image-container {

}
#lead-image {
  /*border: 5px dashed red;*/
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-top: 1em;
}